.intro1{
    /* background: #043873; */
    max-width: 100vw;
    max-height: 180vh;
    margin-left: 40px;
    display: flex;
}
.intro2{
    max-width: 100vw;
    max-height: 180vh;
    display: flex;
    margin-left: -150px;
    flex-direction: row-reverse;  
}
.intro3{
    background-color: #4F9CF9;
}
.header1{
   height: 350px;
   width: 528px;
    /* border: 2px solid blue; */
    margin-left: 155px;
    flex-direction:column;
    margin-top: 100px;

}
.txt11{
    color: white;
    text-align:left;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:40px;
    font-style: normal;
    font-weight: 700;
    color: black;
    /* line-height: 150%;  */
    
}
.txt12{
    color: var(--Heading-color, #282938);
    color: white;
    text-align:left;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:small;
    color: black;
 margin-top: -1px;
    /* font-weight: 700;  */
}


.imgg{
    width: 70vh;
height: 40vh;
margin-top: 50px;
}
.bttn{
    padding: 10px 12px;
    background: #4F9CF9;
    color: white;
    border: none;
    border-radius: 5px;
}
.circle{
    width: 661px;
height: 661px;
flex-shrink: 0;
border-radius: 661px;
border: 2px dashed #A7CEFC;
}

@media (max-width: 599px){
    .header1 {
      
        margin-left: -10px; 
    }
   
    
    .txt11 {
   margin: 20px 22px;
        font-size: 20px;
    }
    
    .txt12 {
        word-break: break-all;
        font-size: 10px;
        text-align: left;
        width: 217px;
        margin-left: 29px;
    }
    .imgg {
        width: 76vh;
        height: 40vh;
        margin-top: 103px;
        margin-left: 11px;
    }
    .intro1{
        margin-left: 10px;
       
    }

.intro2{
    margin-left: 20px;
    /* width: 50px; */
}
.bttn{
    margin: 20px 50px;
    margin-left: -220px;
}
}


